div.nav-c {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    background-color: $secondary;

    &.subheader {
        border-top: rgba(0, 0, 0, 0.5) solid 1px;

        div {
            column-gap: 3em;
        }
    }

    div {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 75vh;
        column-gap: 8em;
        padding: .6em;

        .btn {
            margin: .1em;
            transition: all .6s ease 0s;
            width: 100%;
        }

        a {
            display: flex;
            justify-content: center;
            width: 130px;
            &:hover {
                & .btn {
                    color: $primary;
                    background-color: $tertiary;
                    border-color: $quaternary;
                    box-shadow: 0px 15px 10px rgba(#000, 0.4);
                    transform: translateY(-5px);
                }
            }
        }
    }
}