nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5em;
    background-color: $secondary;
    padding: 1em;
    margin-bottom: 2em;
    .btn {
        margin: .1em;
        transition: all .6s ease 0s;

    }
    span{
        &:hover {
            & .btn {
                color: $primary;
                background-color: $tertiary;
                border-color: $quaternary;
                box-shadow: 0px 15px 10px rgba(#000, 0.4);
                transform: translateY(-5px);
            }
        }
    }
}