@import "bootstrap";
@import "normalisation";
@import "header";

.content {
    margin: 4em 25vw;
}

p {
    word-wrap: break-word;
}

.table {
    border-radius: $border-radius;
    overflow: hidden;
}
