@import "bootstrap";

h2 {
    padding-top: 116px;
    margin-top: calc(2em - 116px);
}

li {
    padding-top: 135px;
    margin-top: -135px;
}

table {
    & *{
        text-align: left;
    }

    a {
        color: $quaternary;
    }
}