@import "bootstrap";

#photo {
    max-width: 150px;
    border-radius: $border-radius;
    margin: .5em 0;
}

p {
    text-align:center;
}

.flex-c {
    display: flex;
    justify-content: center;
}
span.btn-c {
    .btn {
        margin: 1em .5em;
        transition: all .6s ease 0s;
    }

    &:hover {
        .btn-dl {
            color: $primary;
            background-color: $quaternary;
            border-color: $quaternary;
            box-shadow: 0px 15px 10px rgba(#000, 0.4);
            transform: translateY(-5px);
        }
    }
}