!!! 5
html
	head
		title! Profolio Quentin CHEVRIAUX

		block css
			link(rel="stylesheet" href="css/main.css")

	body
		include "./header.blade"

		.content
			block body
		
		block scripts
			script(type="text/javascript" src="./js/bootstrap.js")
