nav
	span
		a(href="./#" class="btn btn-primary")= "cv"
	span
		a(href="./#" class="btn btn-primary")= "lm"
	span
		a(href="./#" class="btn btn-primary")= "portfolio"
	span
		a(href="./#" class="btn btn-primary")= "presentation"