nav
	span
		a(href="./index.html" class="btn btn-primary")= "presentation"
	span
		a(href="./index.html" class="btn btn-primary")= "portfolio"
	span
		a(href="./index.html" class="btn btn-primary")= "cv"
	span
		a(href="./index.html" class="btn btn-primary")= "lm"

